@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-play-running {
    animation-play-state: running;
  }

  .animation-play-paused {
    animation-play-state: paused;
  }
}

html,
body,
#app {
  height: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-stone-50 font-nunito dark:bg-stone-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-rose-700 dark:text-stone-100;
}

p {
  @apply text-stone-800 dark:text-stone-100;
}

a {
  @apply text-rose-600 hover:text-rose-700 dark:text-stone-100 dark:hover:text-stone-200;
}

.router-link-active,
.router-link-exact-active {
  @apply text-amber-600 hover:text-amber-600 dark:text-amber-300 dark:hover:text-amber-300;
}
