@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-play-running {
    animation-play-state: running;
  }

  .animation-play-paused {
    animation-play-state: paused;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  @apply overflow-x-hidden bg-cyan-50 font-nunito dark:bg-slate-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-cyan-600 dark:text-slate-100;
}

p {
  @apply text-cyan-900 dark:text-slate-100;
}

a {
  @apply text-cyan-700 hover:text-cyan-800 dark:text-slate-100 dark:hover:text-slate-200;
}

.router-link-active,
.router-link-exact-active {
  @apply text-indigo-700 hover:text-indigo-700 dark:text-indigo-300 dark:hover:text-indigo-300;
}
